__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.manifest
*.spec

.venv/
env/
venv/
ENV/
*.env

.ipynb_checkpoints

.idea/
.vscode/
*.swp

*.log
logs/
*.out
*.err

data/raw/
data/bronze/
data/silver/
data/gold/
data/checkpoints
spark-warehouse/
derby.log

airflow/logs/
airflow/*.db
airflow/airflow.cfg
airflow/unittests.cfg

*.pid
*.tar
*.bak

.DS_Store
Thumbs.db